<nav id="nav-container">
    <div id="nav-container-div">
        <div id="logo-conatiner"><img id="logo" src="Logo-transparent background.png" alt="logo here"></div>
        <div id="home-nav-container"><a id="home-link" href="/">Home</a></div>
        <div id="create-nav-container"><a id="create-link" href="/create-post">Create</a></div>
        <div id="search-form-nav-container">
            <div id="float-search-container">
                <img id="search-icon" src="magnify-icon.png" alt="search icon">
                <form action="/" method="post">
                    <input id="search-text" type="text" placeholder="Search...">
                </form>
            </div>
        </div>
        <div id="account-nav-container"><a id="account-link" href="/profile">
            <a id="signup-link" href="/signup">SignUp</a>
        </div>
    </div>
</nav>