<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title> Alb - Home</title>
</head>
<body>
        <%- include(path_nav)%> 

    <hr style="width: 90vw; color: rgb(182, 182, 182); margin-top: 0px; margin-bottom: 0px;">

    <main id="grid-render-home-page">

        <div id="album-showcase">

            <div id="album-profile">
                <img src="account_pic_1.svg" alt="Profile-Picture">
                <div class="text-album-profile">
                    <h2>My Rndom Album</h2>
                    <div class="information-container">
                        <h3 id="name-post">: VaskoDaGama</h3>
                        <h3 id="place-post"><li>Bosnia</li></h3>
                        <h3 id="message-quote-post"> - At the end of the day, it's just code.</h3>
                        <h3 id="date-post">17/08/2024</h3>
                    </div>
                </div>
            </div>
            
            <div class="container-gradient-effect">
            
                <div class="section-columns">
                    <section class="coulmn1 column">
                        <div class="post1-1 post">
                            <img class="image1-1 image" src="img1.jpg" alt="photo">
                            <div class="post-text">
                                <h3 class="heading-post">Heading</h3>
                            </div>
                        </div>
                        <div class="post1-2 post">
                            <img class="image1-2 image" src="img2.jpg" alt="photo">
                            <div class="post-text">
                                <h3 class="heading-post">Heading</h3>
                            </div>
                        </div>
                    </section>
                    <section class="coulmn2 column">
            
                        <div class="post2-1 post">
                            <img class="image2-1 image" src="img3.jpg" alt="photo">
                            <div class="post-text">
                                <h3 class="heading-post">Heading</h3>
                            </div>
                        </div>
                        <div class="post2-2 post">
                            <img class="image2-2 image" src="img4.jpg" alt="photo">
                            <div class="post-text">
                                <h3 class="heading-post">Heading</h3>
                            </div>
                        </div>
            
                    </section>
                    <section class="coulmn3 column">
            
                        <div class="post3-1 post">
                            <img class="image3-1 image" src="img5.jpg" alt="photo">
                            <div class="post-text">
                                <h3 class="heading-post">Heading</h3>
                            </div>
                        </div>
                        <div class="post3-2 post">
                            <img class="image3-2 image" src="img6.jpg" alt="photo">
                            <div class="post-text">
                                <h3 class="heading-post">Heading</h3>
                            </div>
                        </div>
            
                    </section>
                    <section class="coulmn4 column">
            
                        <div class="post4-1 post">
                            <img class="image4-1 image" src="img7.jpg" alt="photo">
                            <div class="post-text">
                                <h3 class="heading-post">Heading</h3>
                            </div>
                        </div>
                        <div class="post4-2 post">
                            <img class="image4-2 image" src="img8.jpg" alt="photo">
                            <div class="post-text">
                                <h3 class="heading-post">Heading</h3>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            <div class="view-more-btn">
                <a href="/details"><h1>View More...</h1></a>
            </div>
        </div>

    </main>
    
</body>
</html>